<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        TqlCook -
        {% block title_block %}
        {% endblock %}
    </title>

    {% block link_block %}
    {% endblock %}

    <link href="{% static 'styles/index.css' %} " rel="stylesheet" type="text/css">

    <link href="//s.chuimg.com/dist/4d5c1a6b34a8f5e1e3e3.css" rel="stylesheet" type="text/css">
    <link href="//s.chuimg.com/dist/31f8873849da7e15af56.css" rel="stylesheet" type="text/css">
    <link href="//s.chuimg.com/dist/b9ddedec44558e51bd8a.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="topbar-outer has-bottom-border">
        <div class="topbar-container">
            <div class="topbar">
                <div class="pure-g">
                    <div class="pure-u-1-6">
                        <a href="/" class="logo">TqlCook</a>
                    </div>
                    <div class="pure-u-5-6">
                        <div class="float-left">
                            <form class="search" action="{% url 'TqlCook:searchResult' %}">
                              <input type="text" name="keyword" class="typeahead float-left" value="" placeholder="Search by ingredient or dish">
                              <input type="submit" value="Search" class="button float-left">
                            </form>
                        </div>
                        <div class="float-left">
                            <ul class="site-nav plain pure-g">
                                <li class="pure-u"><a href="/">Home</a></li>
                                <li class="pure-u"><a href="{% url 'TqlCook:category' 0 %}">Recipes</a></li>
                            </ul>
                        </div>
                        <div class="float-right clearfix">
                            <div class="user-action">
                                {% if user.is_authenticated %}
                                    Welcome, {{ user.username }}
                                {% else %}
                                    <a href="{% url 'TqlCook:login' %}">Log in</a>&nbsp;&nbsp;
                                    <a href="{% url 'TqlCook:register' %}">Register</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- end of page-container -->
    </div>

    {% block body_block %}
    {% endblock %}

</body>

</html>
