<!DOCTYPE html>

<head>

    <title>
        base
    </title>

    <meta charset="utf-8">


    <link rel="canonical" href="https://www.xiachufang.com/recipe/106027139/">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.xiachufang.com/recipe/106027139/">
    <link rel="alternate" media="handheld" href="https://m.xiachufang.com/recipe/106027139/">


    <link href="//s.chuimg.com/dist/26e376c6566536444b27.css" rel="stylesheet" type="text/css">

    <link href="//s.chuimg.com/dist/31f8873849da7e15af56.css" rel="stylesheet" type="text/css">

    <link href="//s.chuimg.com/dist/b9ddedec44558e51bd8a.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="topbar-outer has-bottom-border">
    <div class="topbar-container">
        <div class="topbar">


            <div class="pure-g">
                <div class="pure-u-1-6">
                    <a href="/" class="logo">下厨房</a>
                </div>
                <div class="pure-u-5-6">
                    <div class="float-left">
                        <form class="search" action="/search/">
                            <input type="text" name="keyword" class="typeahead float-left" value=""
                                   placeholder="搜索菜谱、食材">
                            <input type="hidden" name="cat" value="1001">
                            <input type="submit" value="搜菜谱" class="button float-left">
                        </form>
                    </div>
                    <div class="float-left">
                        <ul class="site-nav plain pure-g">
                            <li class="pure-u"><a href="/" data-ga-event="公共页面/导航栏/$text">首页</a></li>
                            <li class="topbar-cats pure-u">
                                <a href="/category/" class="block-link" data-ga-event="公共页面/导航栏/$text"><span>菜谱分类</span></a>
                                <div class="topbar-cats-submenu hidden">
                                    <div class="topbar-cats-submenu-bg">


                                        <ul class="plain">
                                            <li class='topbar-cat-head'>常用主题</li>
                                            <li><a href="/category/40076/" title="家常菜菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">家常菜</a></li>
                                            <li><a href="/category/40077/" title="快手菜菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">快手菜</a></li>
                                            <li><a href="/category/40078/" title="下饭菜菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">下饭菜</a></li>
                                            <li><a href="/category/40071/" title="早餐菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">早餐</a></li>
                                            <li><a href="/category/30048/" title="减肥菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">减肥</a></li>
                                            <li><a href="/category/20130/" title="汤羹菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">汤羹</a></li>
                                            <li><a href="/category/51761/" title="烘焙菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">烘焙</a></li>
                                            <li><a href="/category/40073/" title="小吃菜谱大全"
                                                   data-ga-event="公共页面/导航栏/$text">小吃</a></li>
                                        </ul>
                                        <ul class="plain">
                                            <li class='topbar-cat-head'>常见食材</li>
                                            <li><a href="/category/731/" title="猪肉做法大全" data-ga-event="公共页面/导航栏/$text">猪肉</a>
                                            </li>
                                            <li><a href="/category/1136/" title="鸡肉做法大全" data-ga-event="公共页面/导航栏/$text">鸡肉</a>
                                            </li>
                                            <li><a href="/category/1445/" title="牛肉做法大全" data-ga-event="公共页面/导航栏/$text">牛肉</a>
                                            </li>
                                            <li><a href="/category/957/" title="鱼做法大全"
                                                   data-ga-event="公共页面/导航栏/$text">鱼</a></li>
                                            <li><a href="/category/394/" title="鸡蛋做法大全" data-ga-event="公共页面/导航栏/$text">鸡蛋</a>
                                            </li>
                                            <li><a href="/category/206/" title="土豆做法大全" data-ga-event="公共页面/导航栏/$text">土豆</a>
                                            </li>
                                            <li><a href="/category/178/" title="茄子做法大全" data-ga-event="公共页面/导航栏/$text">茄子</a>
                                            </li>
                                            <li><a href="/category/80/" title="豆腐做法大全"
                                                   data-ga-event="公共页面/导航栏/$text">豆腐</a></li>
                                        </ul>
                                        <ul class="plain">
                                            <li class='topbar-cat-head'>时令食材</li>
                                            <li>
                                                <a href="/category/5364/" title="西柚做法大全" data-ga-event="公共页面/导航栏/$text">西柚</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/454/" title="丝瓜做法大全" data-ga-event="公共页面/导航栏/$text">丝瓜</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/155/" title="苦瓜做法大全" data-ga-event="公共页面/导航栏/$text">苦瓜</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/5225/" title="杭椒做法大全" data-ga-event="公共页面/导航栏/$text">杭椒</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/1215/" title="豇豆做法大全" data-ga-event="公共页面/导航栏/$text">豇豆</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/3286/" title="葡萄做法大全" data-ga-event="公共页面/导航栏/$text">葡萄</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/819/" title="毛豆做法大全" data-ga-event="公共页面/导航栏/$text">毛豆</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                            <li>
                                                <a href="/category/5379/" title="青柠做法大全" data-ga-event="公共页面/导航栏/$text">青柠</a>
                                                <span class="topbar-cat-score">
                        10.0
                    </span>
                                            </li>
                                        </ul>
                                        <div class="topbar-cats-submenu-bottom"><a href="/category/"
                                                                                   data-ga-event="公共页面/导航栏/$text">查看全部分类</a>
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="float-right clearfix">
                        <div class="user-action">
                            <a href="/auth/login/" data-ga-event="公共页面/导航栏/$text" rel="nofollow">登录</a>&nbsp;&nbsp;
                            <a href="/auth/apply/" data-ga-event="公共页面/导航栏/$text" rel="nofollow">注册</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</div>
<!-- end of page-container -->
</div>


</body>

</html>
