<!DOCTYPE html>

<head>

    <title>
        Sirloin of Beef Recipe
    </title>

    <meta charset="utf-8">

    <link rel="canonical" href="https://www.xiachufang.com/recipe/106027139/">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.xiachufang.com/recipe/106027139/">
    <link rel="alternate" media="handheld" href="https://m.xiachufang.com/recipe/106027139/">

    <link href="//s.chuimg.com/dist/26e376c6566536444b27.css" rel="stylesheet" type="text/css">

    <link href="//s.chuimg.com/dist/31f8873849da7e15af56.css" rel="stylesheet" type="text/css">

    <link href="//s.chuimg.com/dist/b9ddedec44558e51bd8a.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="topbar-outer has-bottom-border">
    <div class="topbar-container">
        <div class="topbar">


            <div class="pure-g">
                <div class="pure-u-1-6">
                    <a href="/" class="logo">下厨房</a>
                </div>
                <div class="pure-u-5-6">
                    <div class="float-left">
                        <form class="search" action="/search/">
                            <input type="text" name="keyword" class="typeahead float-left" value=""
                                   placeholder="搜索菜谱、食材">
                            <input type="hidden" name="cat" value="1001">
                            <input type="submit" value="Search Recipe" class="button float-left">
                        </form>
                    </div>
                    <div class="float-left">
                        <ul class="site-nav plain pure-g">
                            <li class="pure-u"><a href="/" data-ga-event="公共页面/导航栏/$text">Home</a></li>
                            <li class="topbar-cats pure-u">
                                <a href="/category/" class="block-link"
                                   data-ga-event="公共页面/导航栏/$text"><span>Category</span></a>
                            </li>

                        </ul>
                    </div>
                    <div class="float-right clearfix">
                        <div class="user-action">
                            <a href="login.html">Login</a>&nbsp;&nbsp;
                            <a href="register.html" rel="nofollow">Register</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="page-outer">
    <!--begin of page-container-->
    <div class="page-container">

        <div class="pure-g">
            <!-- begin of main-panel -->
            <div class="pure-u-2-3 main-panel">

                <!-- begin of recipe -->
                <div>
                    <h1 class="page-title">
                        Sirloin of Beef
                    </h1>
                    <div class="block recipe-show">

                        <div class="cover image expandable block-negative-margin"
                             style="background-image: url(https://i2.chuimg.com/cee10d9a38054a3384264fa00a53ab1d_1920w_1920h.jpg?imageView2/2/w/660/interlace/1/q/90)">
                            <img src="{% static 'images/beef01.jpg' %}"
                                 alt="Roasted sirloin of beef" width="660">
                        </div>

                        <div class="rate-dialog block-negative-margin">
                        </div>

                        <h2>
                            Ingredients &nbsp;
                        </h2>
                        <div class="ings">
                            <table>
                                <tr>
                                    <td class="name">
                                        aged sirloin of beef
                                    </td>
                                    <td class="unit">
                                        800g
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        veal stock
                                    </td>
                                    <td class="unit">
                                        100ml
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        fresh thyme
                                    </td>
                                    <td class="unit">
                                        1 sprig
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        peppercorns
                                    </td>
                                    <td class="unit">
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        beef marrow bone
                                    </td>
                                    <td class="unit">
                                        100g
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">
                                        sherry vinegar
                                    </td>
                                    <td class="unit">
                                        1 tbsp
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <h2 id="steps">
                            Sirloin of Beef Recipe &nbsp;
                        </h2>

                        <div class="steps">
                            <ol>
                                <li class="container">
                                    <p class="text" style="">For the pastry, heat the oven to 190°C/Gas mark 5</p>
                                </li>

                                <li class="container">
                                    <p class="text" style="">Cut out 4 equal rectangles from each sheet of pastry,
                                        keeping it covered as much as possible so it doesn’t dry out. Brush each piece
                                        with warm clarified butter and sandwich 2 rectangles together</p>
                                </li>

                                <li class="container">
                                    <p class="text" style="">Press flat between 2 baking sheets or mould over thin metal
                                        rods to create a corrugated effect. Bake until golden and crisp</p>
                                </li>

                                <li class="container">
                                    <p class="text" style="">For the mushrooms, sweat the diced shallot with the garlic
                                        in the olive oil until soft</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- end of recipe -->

                <div id="main-panel-bottom"></div>
            </div>
            <!-- end of main-panel -->

            <!-- begin of recipe-stats -->
            <div class="recipe-stats block normal-font gray-font">
                <div class="time">This recipe created at 2021-08-05 17:24:16</div>
                <div class="pv">4 likes</div>

                <br>
            </div>
            <!-- end of recipe-stats -->
        </div>

    </div>
    <!-- end of right-panel -->
</div>

</div>
<!-- end of page-container -->
</div>


</body>

</html>
