{% extends 'TqlCook/base.html' %}
{% load static %}

{% block title_block %}
    {% if recipe %}
        {{ recipe.name }}
    {% else %}
        Unknown Recipe
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="page-outer">
        <!--begin of page-container-->
        <div class="page-container">
            <ol class="breadcrumb plain pl10" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="">
                    <a itemprop="item" href="/" title="Homepage"><span itemprop="name">Homepage</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="">
                    <a itemprop="item" href="/category/" title="Category"><span itemprop="name">Category</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
                    <span itemprop="name">{{ recipe.name }}</span>
                    <meta itemprop="position" content="3">
                </li>
            </ol>
            <div class="pure-g">
                <!-- begin of main-panel -->
                <div class="pure-u-2-3 main-panel">
                    <!-- begin of recipe -->
                    <div>
                        <h1 class="page-title">
                            {{ recipe.name }}
                        </h1>
                        <div class="block recipe-show">
{#                            <div class="cover image expandable block-negative-margin"#}
{#                                 style="background-image: url(https://i2.chuimg.com/cee10d9a38054a3384264fa00a53ab1d_1920w_1920h.jpg?imageView2/2/w/660/interlace/1/q/90)">#}
                                <img src="/{{ recipe.images }}"
                                     alt="Method" width="660">
{#                            </div>#}
                            <div class="container pos-r pb20 has-bottom-border">
                                <div class="stats clearfix">
                                    <div class="cooked float-left">
                                        <span class="number">{{ recipe.likes }}</span>
                                        <span class="title">likes</span>
                                    </div>
                                </div>
                                <div class="collect pure-g align-right">
                                    {% if user.is_authenticated %}
                                        class="button large-button collect-button" rel="nofollow">LIKE
                                    {% else %}
                                        <a href="{% url 'TqlCook:login' %}"
                                           class="button large-button collect-button" rel="nofollow">LIKE</a>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="rate-dialog block-negative-margin"></div>
                            <h2>Ingredients &nbsp;</h2>
                            <div>{{ recipe.ingredient|safe }}</div>

                            <h2 id="steps">Method &nbsp;</h2>
                            <div>{{ recipe.method|safe }}</div>
                        </div>
                    </div>
                    <!-- end of recipe -->
                    <div class="page-outer page-bottom-outer">
                        <div class="page-container">
                            <div>
                                <h2>Comment</h2>
                                <ul class="plain list question-list">
                                    {% for comment in comments %}
                                        <li class="recipe-quesions-content" data-type="question">
                                            <div class="avatar-right-2" role="question">
                                                <div class="left">
                                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEXo6Og4/a9sAAAADUlEQVR42gECAP3/AAAAAgABUyucMAAAAABJRU5ErkJggg"
                                                         data-src="https://i2.chuimg.com/d4ef51066db5442985372a69b210d941_1080w_1080h.jpg?imageView2/1/w/60/h/60/interlace/1/q/90"
                                                         alt="myshift" width="60" height="60">
                                                </div>
                                                <div class="right-top info" style="position: relative;">
                                                    <a href="/cook/112689168/" class="normal-font">{{ comment.1 }}</a>
                                                    <span class="normal-font gray-font align-baseline">
                                                    &nbsp; &nbsp;</span>
                                                </div>
                                                <div class="right-bottom">
                                                    {{ comment.0 }}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="main-panel-bottom"></div>
                </div>
                <!-- end of main-panel -->

                <!-- begin of recipe-stats -->
                <div class="recipe-stats block normal-font gray-font">
                    <div class="time">created on 2020-12-04</div>
                    <div class="pv">{{ recipe.likes }} likes</div>

                    <br>
                </div>
                <!-- end of recipe-stats -->
            </div>

        </div>
        <!-- end of right-panel -->
    </div>

{% endblock %}
