{% extends 'TqlCook/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="topbar-outer has-bottom-border">
        <div class="topbar-container">
            <div class="topbar">

                <div class="pure-g">
                    <div class="pure-u-1-6">
                        <a href="/" class="logo">TqlCook</a>
                    </div>
                    <div class="pure-u-2-3">&nbsp;</div>
                    <div class="pure-u-1-6 site-nav align-right">Registered?&nbsp;<a href="{% url 'TqlCook:login' %}">Login</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="page-outer">
    <!--begin of page-container-->
        <div class="page-container">
            <div class="container">
                <form id="register_form" method="post" action="{% url 'TqlCook:register' %}"novalidate>
                    <h2 class="form-signin-heading">Please register</h2>
                    <label for="inputUserId" class="sr-only">User Id</label>
                    <input type="text" name="userId" id="inputUserId" class="form-control" placeholder="User Id" required="" autofocus="">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="user" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <label for="inputPasswordAgain" class="sr-only">PasswordAgain</label>
                    <input type="password" name="pwdAgain" id="inputPasswordAgain" class="form-control" placeholder="Enter Password Again" required="">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div> <!-- /container -->
        </div>
      <!-- end of page-container -->
    </div>
{% endblock %}
